extends header
block content
  
  //.loader
  script(src="https://canvasjs.com/assets/script/canvasjs.min.js" type="text/javascript")
  form(action="/index/" method="GET", enctype="multipart/form-data")    
    
    #jeans.w3-container.w3-text-grey
      //#cal(onload="cal(#{multi});") 
      .w3-row 
        .w3-col.l7
          style(onload=`caller(${ativos},${inativos});` )  
          #chartContainer(style="height: 370px; width: 100%" )
        .w3-col.l3
          .chart
            ul.key
              li
                strong.percent.red=ativos
                span.choice Used Storage
              li
                strong.percent.gray 4%
                span.choice Free Storage
              li
                strong.percent.purple 6%
                span.choice Temporary Storage 

  
    