extends header
block content

  #jeans.w3-container.w3-text-grey
    p 8 items
  .w3-row.w3-grayscale
    .w3-col.l3.s6
      .w3-container
        #piechart
      .w3-container
        p
          | Mega Ripped Jeans
          br
          b $19.99
    .w3-col.l3.s6
      .w3-container
        .w3-display-container
          .w3-display-middle.w3-display-hover
            button.w3-button.w3-black
              | Buy now 
              i.fa.fa-shopping-cart
        p
          | Mega Ripped Jeans
          br
          b $19.99
      .w3-container
        p
          | Washed Skinny Jeans
          br
          b $20.50
    .w3-col.l3.s6
      .w3-container
        p
          | Washed Skinny Jeans
          br
          b $20.50
      .w3-container
        .w3-display-container
          .w3-display-middle.w3-display-hover
            button.w3-button.w3-black
              | Buy now 
              i.fa.fa-shopping-cart
        p
          | Vintage Skinny Jeans
          br
          b.w3-text-red $14.99
    .w3-col.l3.s6
      .w3-container
        p
          | Vintage Skinny Jeans
          br
          b $14.99
      .w3-container
        p
          | Ripped Skinny Jeans
          br
          b $24.99
